body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #555;
}

a {
    text-decoration: none;
}

.inputClass {
    display: flex;
    flex-direction: column;
}

.area {
    resize: none;
}

.formTask {
    max-width: 80%;
    width: 100%;
    margin: 10px auto;
}

.containerTask {
    max-width: 80%;
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: flex;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.containerTask h2 {
    width: 80%;
    height: auto;
    padding: 10px;
}

.containerTask div {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 20%;
}

.containerTask a {
    padding: 20px;
    border-radius: 10px;
    background-color: brown;
}