body {
    margin: 0;
    padding: 0;
    color: #ccc;
    background-color: #1c1c1c;
}

nav {
    background-color: #efefef;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #efefef;
}

.inputClass {
    display: flex;
    flex-direction: column;
}

.area {
    resize: none;
}

.formTask {
    max-width: 80%;
    width: 100%;
    margin: 10px auto;
}

.containerTask {
    max-width: 80%;
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 15px;
}

.containerTask h2 {
    width: 80%;
    height: auto;
    padding: 10px;
}

.containerTask div {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    gap: 10px;
    width: 20%;
}

.editButton {
    text-align: center;
    padding: 20px 0px;
    width: 50%;
    border-radius: 10px;
    background-color: #fad37b;
}

.deleteButton {
    text-align: center;
    padding: 20px 0px;
    width: 50%;
    border-radius: 10px;
    background-color: #F05365;
}
